* {
	font-family: 'Rubik', sans-serif;
	margin: 0px;
	padding: 0px;
}

body {
	background-color: lightgray;

}

.h1header {
	font-family: 'Bebas Neue', cursive;
	background-color: #4470b3;
	text-align: center;
	line-height: 50px;
	color: #fff;
}

nav {
	background-color: #fff;
	height: 30px;
	box-sizing: border-box;
	border-bottom: 3px solid #000;
}

nav ul li {
	float: left;
	list-style: none;
	margin: 5px;
}

.h2article {
	padding-top: 5px;
	padding-left: 5px;
	font-size: 22px;
}

.particle {
	padding-right: 25%;
	font-size: 16px;
	padding-left: 5px;
}

.clearfix {
	clear:both;
}

#content {
	float: left;
	width: 85%;
	min-height: 800px;
	padding-left: 2px;
}

aside {
	float: left;
	width: calc(15% - 10px);
	min-height: 790px;
	background-color: #FF9900;
	padding-right: 3px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

footer {
	color: #fff;
	background-color: #000;
	text-align: center;
	height: 27px;
	line-height: 27px;
}