*{
	margin: 0px;
	padding: 0px; 
}



#container {
	background-image: url();
	width: 100%;
	position: relative;
	height: 880px;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background: #2980B9;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, 
	Safari 7+ */
}


.h1header {
	font-family: 'Bebas Neue', cursive;
	text-align: center;
	padding-top: 400px;
	color: #fff;
	font-size: 60px;
	letter-spacing: 10px;
}



nav {
	font-family: 'Bebas Neue', cursive;
	font-size: 25px;
	box-sizing: border-box;
	text-align: center;
	padding-left: 580px;
 
}

nav ul li {
	float: left;
	list-style: none;
	margin: 2px 10px;
}

.li1 {
	color: white;
}

.li2 {
	color: white;

}
.li3 {
	color: white;
}

footer {
	font-family: 'Bebas Neue', cursive;
	color: #000;
	background-color: #fff;
	text-align: center;
	height: 27px;
	line-height: 25px;
	padding-right: 80px;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background: #2980B9;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, 
	Safari 7+ */
}
